.home-div {
  background: linear-gradient(180deg, #021b9c 0%, #0e34b5 49.48%, #1d57ec 100%),
    linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2));
  width: 100%;
  height: 620px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  text-align: center;
}

.main-heading {
  font-family: Poppins, sans-serif;
  font-size: 48px;
  font-weight: 800;
  line-height: 72px;
  text-align: center;
  color: #fff;
}

.main-pera {
  font-family: Poppins, sans-serif;
  font-size: 18px;
  font-weight: 600;
  line-height: 27px;
  color: #fff;
}

.main-btn {
  text-align: center;
}

.main-btn button {
  background: #f9de58;
  font-size: 16px;
  font-weight: 600;
  width: 188px;
  height: 53px;
  border-radius: 10px;
  border: none;
  /* Remove opacity: 0px; unless intended */
}

.absolute-div {
  position: absolute;
  text-align: center;
  top: 20%;
}

.left-img {
  position: relative;
  top: 0;
  left: -36%;
}

.left-img img {
  transform: rotate(180deg);
}

.right-img {
  position: relative;
  top: 0;
  left: 36%;
}
.cards-div {
  display: flex;
  justify-content: space-between;
  margin: 40px 0 50px 0;
}
.single-card {
  height: 130px;
  width: 130px;
  border-radius: 10px;
  background-color: #ffff;
}
.single-card h2 {
  margin: 5px 0 0 0;
  font-family: Poppins;
  font-size: 22px;
  font-weight: 600;
}

.single-card p {
  margin: 0%;
  font-family: Poppins;
  font-size: 20px;
  font-weight: 400;
}
.inside-div {
  display: flex;
  justify-content: center;
}
.inside-div img {
  margin-top: 10px;
}
