.maindiv {
  background: linear-gradient(180deg, #0321b9 0%, #001f5b 100%);
  width: 100%;
  height: auto;
}
.main-heading1 {
  display: flex;
  justify-content: center;
}
.main-heading1 h4 {
  margin: 0;
  margin-top: 130px;
  font-size: 48px;
  font-weight: 700;
  color: #ffff;
}
.main-heading1 h4 span {
  color: #f9de58;
}
.icons-div {
  margin-top: 20px;
}
.icons-div ul {
  display: flex;
  justify-content: space-between;
  list-style: none;
}
.icons-div ul li {
  border: 0.5px solid #ffff;
  padding: 8px 20px;
  cursor: pointer;
  border-radius: 8px;
  margin-right: 20px;
  color: #ffff;
  font-size: 20px;
}
.icons-div ul li:first-child {
  border: 0.5px solid #f9de58;
  padding: 8px 20px;
  cursor: pointer;
  border-radius: 8px;
  margin-right: 20px;
  color: #f9de58;
  font-size: 20px;
}

.cards-div1 {
  margin-top: 30px;
  /* width: 90%; */
  display: flex;
  justify-content: center;
}
.cards-div2 {
  margin-top: 10px;
  /* width: 90%; */
  display: flex;
  justify-content: center;
}

.first-row {
  width: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.card {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  width: 140px;
  height: 90px;
  border-radius: 10px;
  background: #ffffff;
  /* margin-bottom: 10px; */
  margin-right: 10px;
  cursor: pointer;
}
/* .card p {
  text-align: center;
} */
.banner-row {
  width: 100%;
}

.banner-row img {
  margin: 30px 0 70px 0;
}
